*{
    margin: 0;
    padding: 0;
    
}
.nav{
    display: flex;
    margin: auto;
    background-color: black;
    color: white;
    list-style: none;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    /* padding: 1%; */
}
nav div ul li{
    padding: 10px 10px 10px 10px ;
   
}
nav div ul li img{
    padding-right: 90px;
}
nav div ul li button{
    margin-left: 716px;
    margin-top: 11px;
    color: white;
    background-color: rgb(232, 17, 232);
    font-weight: 600;
    padding: 10px 16px 10px 18px;
    border-radius: 10px;
}
main{
    /* display: inline; */
    display: flex;
    height: 110vh;
    /* height: 100%; */
    background-image: url(/project\ 3\ img.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: fixed;
    text-align: center;
    /* width: 100vw; */
    /* width: 100%; */
    /* margin-top: 100px ; */
}
.content{
    color: white;
    justify-content: center; 
    align-items: center;
}
main div{
    max-width: 8000px;
    /* margin-top: 100px ; */
    /* margin: 0 auto; */
    font-weight: 600;
    font-size: 80px;
    line-height: 80px;
}
.noni{
    font-size: 20px;
    font-weight: normal;
    margin-left: 410px;
}
.large{
    text-align: center;
    margin-left: 400px;
}
.lomo{
    margin-top: 100px;
}
main button{
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
    margin-top: 10px;
    margin-left: 400px;
    background-color: rgb(232, 17, 232);
    font-weight: 600;
    font-size: 20px;
    color: white;
}